{% extends "public/head.html" %}
{% block head %}
<script src="/static/js/sparklines.js"></script>
<!-- <script src="static/js/index.js"></script> -->

{% include "public/header.html" %}
<div class="content">
    {% include "public/left.html" %}
    <div class="mainbar">

	    <!-- Page heading -->
	    <div class="page-head">
	      <h2 class="pull-left"><i class="icon-home"></i> 用户权限管理</h2>

        <!-- Breadcrumb -->
        <div class="bread-crumb pull-right">
          <a href="/admin"><i class="icon-home"></i> 首页</a>
          <!-- Divider -->
          <span class="divider">/</span>
          <a href="#" class="bread-current">控制台</a>
        </div>

        <div class="clearfix"></div>

	    </div>
	    <!-- Page heading ends -->
	    <div class="matter">
        <div class="container">

          <div class="row">
            <div class="col-md-12">
              <!-- List starts -->
              <ul id="spark_data" class="today-datas">
                <!-- List #1 -->
                <!-- <li> -->
                  <!-- Graph -->
                  <!-- <div><span id="company_query" class="spark"></span></div> -->
                  <!-- Text -->
                  <!-- <div id="company_count" class="datas-text">共有 0 家公司</div> -->
                <!-- </li> -->
                <!-- <li> -->
                  <!-- Graph -->
                  <!-- <div><span id="job_query" class="spark"></span></div> -->
                  <!-- Text -->
                  <!-- <div id="job_count" class="datas-text">共有 0 个职位</div> -->
                <!-- </li> -->

              </ul>
            </div>
          </div>

        </div>
		  </div>
    </div>
</div>

<div id="show_detail" style="display:none;position:fixed;z-index:9999999;">
<label></label>
</div>
{% endblock head %}
