<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>小神领域-欢迎{{ session.get("name")}}</title>

    <!-- Bootstrap -->

    <link href="http://7xpjdf.com1.z0.glb.clouddn.com/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.css">
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap-switch.css">

    <!-- <link href="http://lib.sinaapp.com/js/bootstrap/latest/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- <script src="http://lib.sinaapp.com/js/jquery/3.1.0/jquery-3.1.0.min.js"></script> -->
    <script src="http://7xpjdf.com1.z0.glb.clouddn.com/jquery-3.0.0.min.js"></script>
    <!-- <script src="http://lib.sinaapp.com/js/bootstrap/latest/js/bootstrap.min.js"></script> -->
    <script src="http://7xpjdf.com1.z0.glb.clouddn.com/bootstrap.min.js"></script>


    {% block head %}
    {% endblock head %}
  </body>
  <script src="/static/js/bootstrap-switch.min.js"></script>
  <script src="/static/js/custom.js"></script> <!-- Custom codes -->
</html>
